* {
    margin: 0px;
}

html,
body {
    font-family: Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    overflow: hidden;
}

#story {
    width: 100%;
    color: burlywood;
    height: 80%;
    background-color: #333;
    overflow-y: scroll;
}

#site-footer,
.game:after {
    position: static;
    bottom: 0;
    height: 20%;
}

#question {
    padding: 10px 0;
    width: 100%;
    background-color: #CCC;
    color: #333;
}

#answer {
    padding: 10px 0;
    width: 100%;
    background-color: rgb(35, 193, 221);
    color: #FFF;
    text-align: center;
    display: none;
}

.gamePart {
    display: none;
}

p {
    margin-top: 1em;
}